Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

.pre-commit-config.yaml:

# pre-commit設定
# インストール: pre-commit install
# 手動実行: pre-commit run --all-files
# 参考: https://pre-commit.com/

repos:
  # 機密情報検出（brew install gitleaks が必要）
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect secrets with gitleaks
        entry: "bash -c 'command -v gitleaks >/dev/null && gitleaks git --pre-commit --staged --verbose || { echo \"ERROR: gitleaks not installed. Run: brew install gitleaks\"; exit 1; }'"
        language: system
        pass_filenames: false

  # Python lint/format（CIと同じ対象: scripts/）
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/

  # Markdown lint（CIと同じ対象ファイル）
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]
        files: ^(README\.md|CLAUDE\.md|scripts/README\.md|\.claude/rules/.*\.md|\.claude/skills/.*/SKILL\.md)$

  # YAML lint（CIと同じ対象: .github/workflows/）
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yml]
        files: ^\.github/workflows/

  # プラグイン検証（ローカルhook）
  - repo: local
    hooks:
      - id: validate-plugin
        name: Validate plugin files
        entry: python3 scripts/validate_plugin.py
        language: system
        files: ^plugins/.*\.(md|json)$
        pass_filenames: true

      # テスト（staged filesにscripts/配下が含まれる場合のみ実行）
      - id: pytest
        name: Run tests
        entry: uvx pytest scripts/tests/ -v --tb=short
        language: system
        files: ^scripts/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # コミット時はスキップ、push時に実行

fix: claude-review が github-actions bot起因のPRを常に失敗させる問題を修正
  .github/workflows/claude-code-review.yml
Due: none

fix: claude-review が github-actions bot起因のPRを常に失敗させる問題を修正 (#583)
  .github/workflows/claude-code-review.yml
Due: none

fix: readme.py がコードブロック内リンクを誤検知しないよう修正
  scripts/tests/test_readme.py
  scripts/validators/readme.py
Due: pytest

fix: auto-implement.yml のclaude-code-updateステップを最小権限化
  .github/workflows/auto-implement.yml
Due: none

fix: claude-code-review/claude ワークフローにconcurrency制御を追加
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

refactor: CHANGELOG監視・プラグイン改善チェックの状態ファイルをActions cacheへ移行
  .changelog-snapshot.md
  .github/workflows/changelog-monitor.yml
  .github/workflows/plugin-improvement-check.yml
  .gitignore
  .plugin-check-sha
Due: none

fix: agent.py がnameフィールドなしの.mdドキュメントを仕様通りスキップするよう修正
  scripts/tests/test_agent.py
  scripts/validators/agent.py
Due: pytest

fix: frontmatterパーサーがYAML行末インラインコメントを正しく除去するよう修正
  scripts/tests/test_base.py
  scripts/validators/base.py
Due: pytest

docs: README公開プラグイン表とpr-auto-fixのdescription不整合を修正
  README.md
  plugins/pr-auto-fix/.claude-plugin/plugin.json
Due: validate-plugin

docs: contribution-guideのdoc/validator同期契約を実態に合わせて明確化
  .claude/rules/contribution-guide.md
Due: none

fix: dangerous-operation検知を単語境界マッチに変更し誤検知を修正
  scripts/tests/test_slash_command.py
  scripts/validators/slash_command.py
Due: pytest

fix: validate_plugin.py でバリデーター例外を隔離しCLI全体のクラッシュを防止
  scripts/tests/test_integration.py
  scripts/validate_plugin.py
Due: pytest

feat: marketplace_json にsourceタイプ別必須フィールドの検証を追加
  scripts/tests/test_marketplace_json.py
  scripts/validators/marketplace_json.py
Due: pytest

chore: lint.yml/test-scripts.yml にCIキャッシュを導入
  .github/workflows/lint.yml
  .github/workflows/test-scripts.yml
Due: none

fix: hooks_json バリデーターの堅牢性向上とhttp制約の仕様準拠
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: pytest

feat: mcp_json/lsp_json に機密情報検出を実装
  scripts/tests/test_lsp_json.py
  scripts/tests/test_mcp_json.py
  scripts/tests/test_secret_detection.py
  scripts/validators/lsp_json.py
  scripts/validators/mcp_json.py
  scripts/validators/secret_detection.py
Due: pytest

fix: hooks_json.py の残存クラッシュ・重複・ネストを解消
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: pytest

fix: mcp_json.py の mcpServers 非オブジェクトクラッシュを修正
  scripts/tests/test_mcp_json.py
  scripts/validators/mcp_json.py
Due: pytest

fix: base.pyの_strip_inline_commentの残存問題を修正（クラッシュ耐性+レビュー指摘対応）
  scripts/tests/test_base.py
  scripts/validators/base.py
Due: pytest

fix: auto-implement.ymlの矛盾するコメントを修正しキャッシュにrestore-keysを追加
  .github/workflows/auto-implement.yml
Due: none

fix: slash_command.pyのword boundary判定をスネークケース対応に修正
  .claude/rules/slash-commands.md
  scripts/tests/test_slash_command.py
  scripts/validators/slash_command.py
Due: pytest

fix: Google APIキー検出の境界条件バグとmcp_jsonのチェック順序を修正
  scripts/tests/test_mcp_json.py
  scripts/tests/test_secret_detection.py
  scripts/validators/mcp_json.py
  scripts/validators/secret_detection.py
Due: pytest

fix: README第三者コンテンツ節の更新とキャッシュmiss時の警告可視化
  .github/workflows/changelog-monitor.yml
  .github/workflows/plugin-improvement-check.yml
  README.md
Due: none

style: test_readme.pyの_strip_code_blocks importをモジュールレベルに統一
  scripts/tests/test_readme.py
Due: pytest

fix: _safe_validateのエラーメッセージに例外の型名を含める
  scripts/validate_plugin.py
Due: pytest

refactor: marketplace_json.pyのsource_type別必須フィールド検証をテーブル駆動化
  scripts/validators/marketplace_json.py
Due: pytest

fix: hooks_json.pyのallowedEnvVars二重エラーとhooks.mdの矛盾記述を修正
  .claude/rules/hooks.md
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: pytest

style: ruff formatを適用（marketplace_json.py）
  scripts/validators/marketplace_json.py
Due: pytest

style: ruff checkのimport順序警告を修正（test_secret_detection.py）
  scripts/tests/test_secret_detection.py
Due: pytest

style: ruff formatを適用（hooks_json.py）
  scripts/validators/hooks_json.py
Due: pytest

fix: test_secret_detection.pyのimport順序を修正
  scripts/tests/test_secret_detection.py
Due: pytest

fix: plugin-improvement-check.ymlのトリガーをpushに変更しキャッシュscope問題を根本解決
  .github/workflows/plugin-improvement-check.yml
Due: none

docs: 日本語キーワードの単語境界判定の限界をコメントで明記
  scripts/validators/slash_command.py
Due: pytest

fix: dangerous-operationキーワードが動詞の活用形を検知できない回帰を修正
  .claude/rules/slash-commands.md
  scripts/tests/test_slash_command.py
  scripts/validators/slash_command.py
Due: pytest

fix: dropped/droppingの検知漏れ回帰を修正（drop固有の活用形対応）
  .claude/rules/slash-commands.md
  scripts/tests/test_slash_command.py
  scripts/validators/slash_command.py
Due: pytest

fix: readme.py のコードブロック内リンク誤検知と画像リンク二重報告を修正 (#584)
  scripts/tests/test_readme.py
  scripts/validators/readme.py
Due: pytest

fix: auto-implement.yml のBash(*)権限を最小権限化しpre-commitキャッシュを追加 (#585)
  .github/workflows/auto-implement.yml
Due: none

fix: claude-code-review/claude ワークフローにconcurrency制御を追加 (#586)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

refactor: 状態ファイル(.changelog-snapshot.md/.plugin-check-sha)をgit履歴からGitHub Actionsキャッシュへ移行 (#587)
  .changelog-snapshot.md
  .github/workflows/changelog-monitor.yml
  .github/workflows/plugin-improvement-check.yml
  .gitignore
  .plugin-check-sha
  README.md
Due: none

fix: agent.py がnameフィールドなしの.mdドキュメントを仕様通りスキップするよう修正 (#588)
  scripts/tests/test_agent.py
  scripts/validators/agent.py
Due: pytest
