Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

validate-plugin:
  name: Validate plugin files
  entry: python3 scripts/validate_plugin.py
  language: system
  pass_filenames: true

pytest:
  name: Run tests
  entry: uvx pytest scripts/tests/ -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: toolsフィールドをallowed-toolsに統合し、context-check.shのブロック動作を修正
  plugins/bbl/commands/brainstorm.md
  plugins/bbl/commands/create-article.md
  plugins/bbl/commands/review-article.md
  plugins/bbl/hooks/context-check.sh
Due: validate-plugin

fix: 既存のaskパーミッションと重複する破壊的操作フックを削除
  plugins/ai-dlc/hooks/hooks.json
  plugins/ai-dlc/scripts/warn-destructive.sh
Due: validate-plugin

test: Task( )スペースのみ括弧のカバレッジ追加でagent.pyを100%に
  scripts/tests/test_agent.py
Due: pytest

docs: 公式ドキュメント・Changelogに基づきルールドキュメントを同期
  .claude/rules/agents.md
  .claude/rules/hooks.md
  .claude/rules/mcp-servers.md
  .claude/rules/skill-authoring.md
Due: none

docs: 既存定義更新時のガイダンスをCLAUDE.mdに追加し、バリデーター・テストを同期
  CLAUDE.md
  scripts/tests/test_agent.py
  scripts/tests/test_hooks_json.py
  scripts/tests/test_skill.py
  scripts/validators/agent.py
  scripts/validators/hooks_json.py
  scripts/validators/skill.py
Due: pytest

fix: httpフック型をバリデーターの有効型リストに追加
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: pytest

docs: 公式ドキュメント・Changelogに基づきルールドキュメントを同期 (#238)
  .claude/rules/agents.md
  .claude/rules/hooks.md
  .claude/rules/mcp-servers.md
  .claude/rules/skill-authoring.md
  CLAUDE.md
  scripts/tests/test_agent.py
  scripts/tests/test_hooks_json.py
  scripts/tests/test_skill.py
  scripts/validators/agent.py
  scripts/validators/hooks_json.py
  scripts/validators/skill.py
Due: pytest

ci: claude-code-reviewでDevin botのpushを許可
  .github/workflows/claude-code-review.yml
Due: none

docs: READMEを実態に合わせて更新
  README.md
Due: none

docs: READMEを実態に合わせて更新 (#242)
  README.md
Due: none

feat: 悪意あるIssue経由の自動実装を防止する多層防御を追加
  .github/workflows/auto-implement.yml
  CLAUDE.md
Due: none

refactor: 権限チェックのみに絞り、過剰な防御を削除
  .github/workflows/auto-implement.yml
  CLAUDE.md
Due: none

refactor: ラベル付与者がオーナーまたはボットかをチェックする方式に変更
  .github/workflows/auto-implement.yml
Due: none

Add security check for issue author in auto-implement workflow (#255)
  .github/workflows/auto-implement.yml
Due: none

fix: GitHub Actionsワークフローのスクリプトインジェクション脆弱性を修正
  .github/workflows/auto-implement.yml
  .github/workflows/validate-plugins.yml
Due: none

fix: auto-implement.ymlのIssueタイトルによるスクリプトインジェクション対策
  .github/workflows/auto-implement.yml
  .github/workflows/validate-plugins.yml
Due: none

fix: Issueタイトルのスクリプトインジェクション対策を現実的なリスク範囲に限定 (#258)
  .github/workflows/auto-implement.yml
Due: none

feat: doc-check プラグインを作成し、settings.jsonのStopフックを移植
  .claude-plugin/marketplace.json
  .claude/settings.json
  plugins/doc-check/.claude-plugin/plugin.json
  plugins/doc-check/README.md
  plugins/doc-check/hooks/hooks.json
Due: validate-plugin

fix: レビュー指摘事項を修正（プロンプト改善、README更新、プラグイン一覧追加）
  README.md
  plugins/doc-check/README.md
  plugins/doc-check/hooks/hooks.json
Due: validate-plugin

fix: 2回目のレビュー指摘を修正（statusMessage追加、プロンプト明確化、category追加）
  plugins/doc-check/.claude-plugin/plugin.json
  plugins/doc-check/hooks/hooks.json
Due: validate-plugin

fix: prompt型フックをagent型に変更しファイル読み込みを可能にする
  plugins/doc-check/agents/doc-checker.md
  plugins/doc-check/hooks/hooks.json
Due: validate-plugin

fix: git diffコマンドをコミット済み変更も検出できるよう修正
  plugins/doc-check/agents/doc-checker.md
Due: validate-plugin

fix: Bashツールをgitコマンドに制限し、git diffの変更検出を網羅的に改善
  plugins/doc-check/agents/doc-checker.md
Due: validate-plugin

feat: doc-check プラグインを作成 (#261)
  .claude-plugin/marketplace.json
  .claude/settings.json
  README.md
  plugins/doc-check/.claude-plugin/plugin.json
  plugins/doc-check/README.md
  plugins/doc-check/agents/doc-checker.md
  plugins/doc-check/hooks/hooks.json
Due: validate-plugin

fix: plugin.jsonから非サポートのcategoryフィールドを削除
  plugins/doc-check/.claude-plugin/plugin.json
Due: validate-plugin

fix: plugin.jsonから非サポートのcategoryフィールドを削除 (#262)
  plugins/doc-check/.claude-plugin/plugin.json
Due: validate-plugin

fix: agentタイプのフックにprompt必須フィールドを追加
  .claude/rules/hooks.md
  plugins/doc-check/hooks/hooks.json
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: validate-plugin, pytest

fix: テストのassertをより厳密なエラーメッセージマッチに変更
  scripts/tests/test_hooks_json.py
Due: pytest

test: agentタイプの両フィールド同時欠落テストを追加
  scripts/tests/test_hooks_json.py
Due: pytest

fix: agentタイプのフックにprompt必須フィールドを追加 (#263)
  .claude/rules/hooks.md
  plugins/doc-check/hooks/hooks.json
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: validate-plugin, pytest

feat: pr-review-loop プラグインを作成
  plugins/pr-review-loop/.claude-plugin/plugin.json
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

docs: pr-review-loop プラグインにREADMEを追加
  plugins/pr-review-loop/README.md
Due: validate-plugin

feat: 修正内容をレビューコメントへ自動返信するステップを追加
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

fix: コメント返信方式をインライン/PRレベルで使い分け
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

fix: marketplace.json登録とgh apiフラグ誤記を修正
  .claude-plugin/marketplace.json
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

fix: create-pluginスキルにmarketplace登録とREADME必須セクションを明記
  .claude/skills/create-plugin/SKILL.md
Due: none

fix: plugin.jsonのauthor名を統一しhomepage/repositoryを追加
  plugins/pr-review-loop/.claude-plugin/plugin.json
Due: validate-plugin

fix: Claude botレビュー指摘6件を対応
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

fix: コードブロックに言語指定(text)を追加
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

feat: pr-review-loop プラグインを作成 (#264)
  .claude-plugin/marketplace.json
  .claude/skills/create-plugin/SKILL.md
  plugins/pr-review-loop/.claude-plugin/plugin.json
  plugins/pr-review-loop/README.md
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

Path conditions:
  validate-plugin: any of: ^plugins/.*\.(md|json)$
  pytest: any of: ^scripts/.*\.py$
