Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

.pre-commit-config.yaml:

# pre-commit設定
# インストール: pre-commit install
# 手動実行: pre-commit run --all-files
# 参考: https://pre-commit.com/

repos:
  # 機密情報検出（brew install gitleaks が必要）
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect secrets with gitleaks
        entry: "bash -c 'command -v gitleaks >/dev/null && gitleaks git --pre-commit --staged --verbose || { echo \"ERROR: gitleaks not installed. Run: brew install gitleaks\"; exit 1; }'"
        language: system
        pass_filenames: false

  # Python lint/format（CIと同じ対象: scripts/）
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/

  # Markdown lint（CIと同じ対象ファイル）
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]
        files: ^(README\.md|CLAUDE\.md|scripts/README\.md|\.claude/rules/.*\.md|\.claude/skills/.*/SKILL\.md)$

  # YAML lint（CIと同じ対象: .github/workflows/）
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yml]
        files: ^\.github/workflows/

  # プラグイン検証（ローカルhook）
  - repo: local
    hooks:
      - id: validate-plugin
        name: Validate plugin files
        entry: python3 scripts/validate_plugin.py
        language: system
        files: ^plugins/.*\.(md|json)$
        pass_filenames: true

      # テスト（staged filesにscripts/配下が含まれる場合のみ実行）
      - id: pytest
        name: Run tests
        entry: uvx pytest scripts/tests/ -v --tb=short
        language: system
        files: ^scripts/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # コミット時はスキップ、push時に実行

fix: review-summary.shをbash経由で実行し実行権限不要に
  plugins/pr-review-loop/hooks/hooks.json
Due: validate-plugin

fix: jq未インストール時のイベント名ハードコードを修正
  plugins/pr-review-loop/hooks/review-summary.sh
Due: none

fix: monitorsフィールドのバリデーター・テスト同期とTODO解消
  .claude/rules/plugin-manifest.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

test: slash_command.py の未カバー2行にテスト追加
  scripts/tests/test_slash_command.py
Due: pytest

docs: skill description の250文字推奨を削除
  .claude/rules/skill-authoring.md
Due: none

docs: description文字数の記述を整合・README更新
  .claude/rules/skill-authoring.md
  scripts/README.md
Due: none

fix: dependenciesの空文字列要素をエラーとして検出
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

fix: dependenciesのkebab-case警告メッセージから誤解を招く"name"を除去
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

docs: plugin-manifest.md の事実誤認を公式ドキュメントに基づき修正
  .claude/rules/plugin-manifest.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

docs: プラグインモニター (monitors) のドキュメント・バリデーター追加
  .claude/rules/README.md
  .claude/rules/monitors.md
  scripts/tests/test_monitors_json.py
  scripts/tests/test_plugin_json.py
  scripts/validate_plugin.py
  scripts/validators/__init__.py
  scripts/validators/monitors_json.py
  scripts/validators/plugin_json.py
Due: pytest

docs: チャンネル (channels) のドキュメント・バリデーター追加
  .claude/rules/README.md
  .claude/rules/channels.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

fix: PR #434 レビュー指摘対応 (dead code 削除・型チェック順序・テスト補強)
  .claude/rules/README.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

fix: PR #433 レビュー指摘対応 (docstring短縮・空when処理・テスト補強)
  .claude/rules/monitors.md
  scripts/tests/test_monitors_json.py
  scripts/validators/monitors_json.py
Due: pytest

fix: PR #432 レビュー指摘対応 (settings廃止警告・userConfig注記)
  .claude/rules/plugin-manifest.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

fix: PR #432 追加レビュー対応 (JSON例の前置き・テスト名リネーム)
  .claude/rules/plugin-manifest.md
  scripts/tests/test_plugin_json.py
Due: pytest

fix: PR #433 追加レビュー対応 (when 一貫性コメント・非kebab-caseスキル名テスト)
  scripts/tests/test_monitors_json.py
  scripts/validators/monitors_json.py
Due: pytest

fix: PR #434 追加レビュー対応 (--dangerously-load 使い分け・アサーション精密化・mcpServers挙動注記)
  .claude/rules/channels.md
  scripts/tests/test_plugin_json.py
Due: pytest

fix: PR #432 iteration 3 (f-string スタイル統一)
  scripts/validators/plugin_json.py
Due: pytest

fix: PR #434 iteration 3 (--channels 複数指定の具体例を追加)
  .claude/rules/channels.md
Due: none

fix: PR #434 iteration 4 (test_channels_valid をリネーム・説明コメント削除)
  scripts/tests/test_plugin_json.py
Due: pytest

docs: プラグインモニター (monitors) のドキュメント・バリデーター追加 (#433)
  .claude/rules/README.md
  .claude/rules/monitors.md
  scripts/tests/test_monitors_json.py
  scripts/tests/test_plugin_json.py
  scripts/validate_plugin.py
  scripts/validators/__init__.py
  scripts/validators/monitors_json.py
  scripts/validators/plugin_json.py
Due: pytest

docs: チャンネル (channels) のドキュメント・バリデーター追加 (#434)
  .claude/rules/README.md
  .claude/rules/channels.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

docs: plugin-manifest.md の事実誤認を公式仕様に合わせて修正 (#432)
  .claude/rules/plugin-manifest.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

docs: 注意ブロック間に空行を追加してMarkdownレンダリングを修正
  .claude/rules/agents.md
Due: none

docs: effort.level に xhigh を追加し書式を統一
  .claude/rules/statusline.md
Due: none

docs: レビュー指摘の反映（permissionMode の対象明示・hooks見出しの範囲明示）
  .claude/rules/agents.md
  .claude/rules/hooks.md
Due: none

docs/validator: agent の effort enum に xhigh を追加（v2.1.111）
  .claude/rules/agents.md
  scripts/tests/test_agent.py
  scripts/validators/agent.py
Due: pytest

docs/doc-check: レビュー指摘の反映（find意味論差の吸収・未使用権限削除）
  plugins/doc-check/agents/doc-checker.md
Due: validate-plugin

docs/doc-check: 手順4の文言修正（find は複数起点を取れる）
  plugins/doc-check/agents/doc-checker.md
Due: validate-plugin

feat(claude-code-workflow): 新プラグインを追加 / マルチエージェント編成パターンスキル
  .claude-plugin/marketplace.json
  plugins/claude-code-workflow/.claude-plugin/plugin.json
  plugins/claude-code-workflow/README.md
  plugins/claude-code-workflow/skills/multi-agent-orchestration/SKILL.md
Due: validate-plugin

feat(claude-code-workflow): writing-style スキルを同梱
  .claude-plugin/marketplace.json
  plugins/claude-code-workflow/.claude-plugin/plugin.json
  plugins/claude-code-workflow/README.md
  plugins/claude-code-workflow/skills/writing-style/SKILL.md
  plugins/claude-code-workflow/skills/writing-style/editing-process.md
  plugins/claude-code-workflow/skills/writing-style/glossary.md
  plugins/claude-code-workflow/skills/writing-style/style-guide.md
Due: validate-plugin

fix(writing-style): レビュー指摘対応
  plugins/claude-code-workflow/skills/writing-style/SKILL.md
  plugins/claude-code-workflow/skills/writing-style/glossary.md
  plugins/claude-code-workflow/skills/writing-style/style-guide.md
Due: validate-plugin

fix(writing-style): 発火対象を「ユーザーが書く文章」に限定
  plugins/claude-code-workflow/skills/writing-style/SKILL.md
Due: validate-plugin

fix: README に前提条件追加・style-guide.md と glossary.md の重複解消
  plugins/claude-code-workflow/README.md
  plugins/claude-code-workflow/skills/writing-style/style-guide.md
Due: validate-plugin

docs(claude-code-workflow): README に v2.1.64 要件・カスタマイズ案内を追加
  plugins/claude-code-workflow/README.md
Due: validate-plugin

feat(claude-code-workflow): プラグイン新設 + writing-style スキル追加 (#446)
  .claude-plugin/marketplace.json
  plugins/claude-code-workflow/.claude-plugin/plugin.json
  plugins/claude-code-workflow/README.md
  plugins/claude-code-workflow/skills/multi-agent-orchestration/SKILL.md
  plugins/claude-code-workflow/skills/writing-style/SKILL.md
  plugins/claude-code-workflow/skills/writing-style/editing-process.md
  plugins/claude-code-workflow/skills/writing-style/glossary.md
  plugins/claude-code-workflow/skills/writing-style/style-guide.md
Due: validate-plugin

fix(workflows): claude-code-review プロンプトを多観点・初回完結・重複防止に改修
  .github/workflows/claude-code-review.yml
Due: none

feat: PRオープン時にrfdnxbroを自動アサイン・レビュアー設定するワークフローを追加
  .github/workflows/auto-assign.yml
Due: none
