Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

.pre-commit-config.yaml:

# pre-commit設定
# インストール: pre-commit install
# 手動実行: pre-commit run --all-files
# 参考: https://pre-commit.com/

repos:
  # 機密情報検出（brew install gitleaks が必要）
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect secrets with gitleaks
        entry: "bash -c 'command -v gitleaks >/dev/null && gitleaks git --pre-commit --staged --verbose || { echo \"ERROR: gitleaks not installed. Run: brew install gitleaks\"; exit 1; }'"
        language: system
        pass_filenames: false

  # Python lint/format（CIと同じ対象: scripts/）
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/

  # Markdown lint（CIと同じ対象ファイル）
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]
        files: ^(README\.md|CLAUDE\.md|scripts/README\.md|\.claude/rules/.*\.md|\.claude/skills/.*/SKILL\.md)$

  # YAML lint（CIと同じ対象: .github/workflows/）
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yml]
        files: ^\.github/workflows/

  # プラグイン検証（ローカルhook）
  - repo: local
    hooks:
      - id: validate-plugin
        name: Validate plugin files
        entry: python3 scripts/validate_plugin.py
        language: system
        files: ^plugins/.*\.(md|json)$
        pass_filenames: true

      # テスト（staged filesにscripts/配下が含まれる場合のみ実行）
      - id: pytest
        name: Run tests
        entry: uvx pytest scripts/tests/ -v --tb=short
        language: system
        files: ^scripts/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # コミット時はスキップ、push時に実行

ci: 権限拒否の診断出力を実測に合わせて修正する
  .github/workflows/auto-implement.yml
Due: none

fix: 再実行時の既存PR更新と入力検証の穴を塞ぐ（Devin Review指摘）
  .github/workflows/auto-implement.yml
Due: none

ci: 自動実装PRのテスト実行・変更検出・再実行手段を改善する (#632)
  .github/workflows/auto-implement.yml
Due: none

ci: 保護パスへの書き込みを通し、Bash許可を実際に使うコマンドへ絞る
  .github/workflows/auto-implement.yml
Due: none

ci: 保護パスへの書き込みを通し、Bash許可を実際に使うコマンドへ絞る (#634)
  .github/workflows/auto-implement.yml
Due: none

docs: ownerワイルドカードのTODO注記から出典のない断定を除く
  .claude/rules/marketplace.md
Due: none

docs: GitLab bare URL対応を追加し、出典のない優先順位の記述を除く
  .claude/rules/marketplace.md
Due: none

docs: headersHelperの配置が未確認である旨を注記する
  .claude/rules/marketplace.md
Due: none

fix: jq不在時にDirectoryAddedがSessionStart扱いになる誤動作を防ぐ
  plugins/git-main-sync/README.md
  plugins/git-main-sync/hooks/sync-main.sh
Due: validate-plugin

docs: 環境変数リファレンスに CLAUDE_PLUGIN_OPTION_<KEY> を追加
  .claude/rules/README.md
Due: none

docs: claude plugin validate の名前警告を追記する
  CLAUDE.md
Due: none

feat: commandソースのcommand制約をバリデーターと同期する
  .claude/rules/marketplace.md
  scripts/tests/test_marketplace_json.py
  scripts/validators/marketplace_json.py
  sync-main.sh
Due: pytest

ci: 出典のない記述を禁じ、未対応項目をPRに残す
  .github/workflows/auto-implement.yml
Due: none

docs: 出典のないセキュリティ保証を要確認に降格する
  .claude/rules/marketplace.md
Due: none

docs: archiveソースの出典のない制約を要確認に降格する
  .claude/rules/marketplace.md
Due: none

fix: 無関係なsync-main.shの混入を取り除く
  sync-main.sh
Due: none

docs: blockedMarketplacesのエントリ書式を要確認に降格する
  .claude/rules/marketplace.md
Due: none

docs: DirectoryAdded対応をdescriptionにも反映する
  .claude-plugin/marketplace.json
  plugins/git-main-sync/.claude-plugin/plugin.json
Due: validate-plugin

docs: settings.local.jsonもpluginConfigsの読み込み対象外だと明記する
  .claude/rules/plugin-manifest.md
Due: none

Revert "docs: archiveソースの出典のない制約を要確認に降格する"
  .claude/rules/marketplace.md
Due: none

docs: archiveソースの制約に出典を明記する
  .claude/rules/marketplace.md
Due: none

docs: GitLabのbare URL対応とblockedMarketplacesを一次情報に合わせる
  .claude/rules/marketplace.md
Due: none

docs: マーケットプレイス追加とプラグインsourceの違いを明示する
  .claude/rules/marketplace.md
Due: none

docs: blockedMarketplacesのエントリを実キー名と例で示す
  .claude/rules/marketplace.md
Due: none

docs: 許可リストのエントリ形式を公式ドキュメントに揃える
  .claude/rules/marketplace.md
Due: none

ci: 出典のない記述を禁じ、未対応項目をPRに残す (#652)
  .github/workflows/auto-implement.yml
Due: none

refactor(claude-code-workflow): multi-agent-orchestration スキルを削除する
  .claude-plugin/marketplace.json
  plugins/claude-code-workflow/.claude-plugin/plugin.json
  plugins/claude-code-workflow/README.md
  plugins/claude-code-workflow/skills/multi-agent-orchestration/SKILL.md
Due: validate-plugin

chore: pr-auto-fix プラグインを削除する
  .claude-plugin/marketplace.json
  README.md
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/hooks/hooks.json
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/emit-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

chore: 発火していないプラグイン資産を削除する（multi-agent-orchestration / pr-auto-fix） (#655)
  .claude-plugin/marketplace.json
  README.md
  plugins/claude-code-workflow/.claude-plugin/plugin.json
  plugins/claude-code-workflow/README.md
  plugins/claude-code-workflow/skills/multi-agent-orchestration/SKILL.md
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/hooks/hooks.json
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/emit-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix: kebab-case検証を fullmatch にして末尾改行を弾く
  .claude/rules/marketplace.md
  scripts/tests/test_base.py
  scripts/validators/base.py
Due: pytest

fix: marketplace.md に残っていた衝突マーカーを解消する
  .claude/rules/marketplace.md
Due: none

fix: 同種の match + 末尾アンカーを fullmatch に統一する
  scripts/tests/test_agent.py
  scripts/tests/test_marketplace_json.py
  scripts/tests/test_monitors_json.py
  scripts/tests/test_skill.py
  scripts/validators/agent.py
  scripts/validators/marketplace_json.py
  scripts/validators/monitors_json.py
  scripts/validators/skill.py
Due: pytest

fix: commandsの絶対パス指定も拒否し、hooks.mdの表記を既存慣習に揃える
  .claude/rules/hooks.md
  .claude/rules/plugin-manifest.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

docs: marketplace.md から実装経緯の記述を削除する
  .claude/rules/marketplace.md
Due: none

fix: 変数展開の後ろに続く ../ もパストラバーサルとして検知する
  .claude/rules/plugin-manifest.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

style: ruff format を適用する
  scripts/tests/test_plugin_json.py
Due: pytest

fix: 変数を基点として扱うのは先頭にある場合だけに限る
  .claude/rules/marketplace.md
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest
