Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

.pre-commit-config.yaml:

# pre-commit設定
# インストール: pre-commit install
# 手動実行: pre-commit run --all-files
# 参考: https://pre-commit.com/

repos:
  # 機密情報検出（brew install gitleaks が必要）
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect secrets with gitleaks
        entry: "bash -c 'command -v gitleaks >/dev/null && gitleaks git --pre-commit --staged --verbose || { echo \"ERROR: gitleaks not installed. Run: brew install gitleaks\"; exit 1; }'"
        language: system
        pass_filenames: false

  # Python lint/format（CIと同じ対象: scripts/）
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/

  # Markdown lint（CIと同じ対象ファイル）
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]
        files: ^(README\.md|CLAUDE\.md|scripts/README\.md|\.claude/rules/.*\.md|\.claude/skills/.*/SKILL\.md)$

  # YAML lint（CIと同じ対象: .github/workflows/）
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yml]
        files: ^\.github/workflows/

  # プラグイン検証（ローカルhook）
  - repo: local
    hooks:
      - id: validate-plugin
        name: Validate plugin files
        entry: python3 scripts/validate_plugin.py
        language: system
        files: ^plugins/.*\.(md|json)$
        pass_filenames: true

      # テスト（staged filesにscripts/配下が含まれる場合のみ実行）
      - id: pytest
        name: Run tests
        entry: uvx pytest scripts/tests/ -v --tb=short
        language: system
        files: ^scripts/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # コミット時はスキップ、push時に実行

fix: ai-dlcプラグインからインフラ層フックを削除
  plugins/ai-dlc/hooks/hooks.json
  plugins/ai-dlc/scripts/check-aws-env.sh
  plugins/ai-dlc/settings.json
Due: validate-plugin

Feat/pr review loop plugin (#275)
  plugins/ai-dlc/hooks/hooks.json
  plugins/ai-dlc/scripts/check-aws-env.sh
  plugins/ai-dlc/settings.json
  plugins/bbl/agents/content-reviewer.md
  plugins/bbl/agents/content-writer.md
  plugins/doc-check/agents/doc-checker.md
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

refactor: CLAUDE.mdの構成を最適化
  CLAUDE.md
Due: none

CLAUDE.mdをリファクタリング
  CLAUDE.md
Due: none

refactor: CLAUDE.mdの構成を最適化 (#280)
  CLAUDE.md
Due: none

test: カバレッジ不足を意図的に発生させるCI自動修正テスト
  scripts/validators/base.py
Due: pytest

fix: テストCIのpipefail未設定を修正し、カバレッジ失敗を正しく検出
  .github/workflows/test-scripts.yml
Due: none

refactor: parse_frontmatterをクラスベースに再構成し可読性を向上
  scripts/validators/base.py
Due: pytest

test: normalize_pathのテストを追加しカバレッジ100%を達成
  scripts/tests/test_base.py
Due: pytest

fix: SessionEndイベントに合わせてsession-log.shを修正
  plugins/ai-dlc/scripts/session-log.sh
Due: none

fix: scripts未変更時にtestステータスが報告されずPRがマージ不可になる問題を修正
  .github/workflows/test-scripts.yml
Due: none

docs: doc-checkのREADMEをPostToolUseフックの変更に合わせて更新
  plugins/doc-check/README.md
Due: validate-plugin

feat: resolve-reviewsにコメント個別返信フローを追加
  plugins/pr-review-loop/README.md
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

feat: デフォルトパスと同一のコンポーネント参照を警告するバリデーション追加
  .claude/rules/plugin-manifest.md
  plugins/pr-review-loop/.claude-plugin/plugin.json
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: validate-plugin, pytest

fix: Step 3とStep 5の返信タイミングの矛盾を修正
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

fix: PRレビュー指摘対応 - 実行権限・パーミッション・スクリプト改善
  plugins/pr-review-loop/hooks/session-log.sh
  plugins/pr-review-loop/settings.json
Due: validate-plugin

fix: 2回目PRレビュー指摘対応
  .claude/rules/plugin-manifest.md
  plugins/pr-review-loop/settings.json
  scripts/tests/test_plugin_json.py
Due: validate-plugin, pytest

fix: インラインコメント返信用のAPIパーミッションを追加
  plugins/pr-review-loop/settings.json
Due: validate-plugin

fix: PostCompact/Elicitation/ElicitationResultのmatcher対応とTODO解消
  .claude/rules/hooks.md
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: pytest

fix: PostCompactのcommandタイプのみ制約をバリデーターに追加
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: pytest

fix: SessionEnd変更に伴いsession-end.shをSessionEnd対応に修正
  plugins/bbl/hooks/hooks.json
  plugins/bbl/hooks/session-end.sh
Due: validate-plugin

fix: session-summary.shの実行権限付与・jqチェック追加・改行サニタイズ追加
  plugins/doc-check/hooks/session-summary.sh
Due: none

fix: review-summary.shに実行権限を付与
  plugins/pr-review-loop/hooks/review-summary.sh
Due: none

fix: session-summary.shに実行権限を付与
  plugins/doc-check/hooks/session-summary.sh
Due: none

chore: code-reviewとcommit-commandsプラグインを有効化
  .claude/settings.json
Due: none

chore: settings.jsonにlanguage設定を追加してWeb環境での動作を検証
  .claude/settings.json
Due: none

feat: SessionStartフックを追加してWeb環境の依存関係を自動セットアップ
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

chore: 全22種hookイベントのデバッグログをsettings.jsonに追加
  .claude/settings.json
  scripts/debug-hook.sh
Due: none

fix: レビュー指摘のmatcher不整合とgrepフォールバックを修正
  .claude/settings.json
  scripts/debug-hook.sh
Due: none

chore: 検証用デバッグフックとlanguage設定を削除
  .claude/settings.json
  scripts/debug-hook.sh
Due: none

fix: PR #306のレビュー指摘を修正
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

fix: PR #306の追加レビュー指摘を修正
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

fix: changesジョブにcheckoutステップを追加（pushイベントの失敗を修正）
  .github/workflows/test-scripts.yml
Due: none

fix: changesジョブにcontents: read権限を追加
  .github/workflows/test-scripts.yml
Due: none

fix: restore execute permission on review-summary.sh
  plugins/pr-review-loop/hooks/review-summary.sh
Due: none

fix: 全プラグインから無効なallow/askフロントマターを除去し、effortフィールドを追加
  plugins/ai-dlc/agents/cloud-architect.md
  plugins/ai-dlc/agents/software-engineer.md
  plugins/ai-dlc/commands/construction/api.md
  plugins/ai-dlc/commands/construction/architecture.md
  plugins/ai-dlc/commands/construction/code-gen.md
  plugins/ai-dlc/commands/construction/domain-model.md
  plugins/ai-dlc/commands/guide/current.md
  plugins/ai-dlc/commands/inception/units.md
  plugins/ai-dlc/commands/inception/user-stories.md
  plugins/ai-dlc/commands/setup.md
  plugins/ai-dlc/skills/ai-dlc/SKILL.md
  plugins/bbl/agents/content-reviewer.md
  plugins/bbl/agents/content-writer.md
  plugins/bbl/commands/brainstorm.md
  plugins/bbl/commands/create-article.md
  plugins/bbl/commands/review-article.md
  plugins/bbl/skills/content-guide/SKILL.md
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

fix: 公式ドキュメントとの差分を修正（effort: max、ws トランスポート、argument-hint検証）
  .claude/rules/agents.md
  .claude/rules/mcp-servers.md
  scripts/tests/test_agent.py
  scripts/tests/test_mcp_json.py
  scripts/tests/test_slash_command.py
  scripts/validators/agent.py
  scripts/validators/mcp_json.py
  scripts/validators/slash_command.py
Due: pytest

fix: 公式ドキュメントURLを新ドメインに更新
  README.md
Due: none

fix: argument-hint検証の冗長なstr()変換を除去
  scripts/validators/slash_command.py
Due: pytest

paths:セクションを「Frontmatterリファレンス」として独立セクションに配置
  .claude/rules/README.md
Due: none
