Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

validate-plugin:
  name: Validate plugin files
  entry: python3 scripts/validate_plugin.py
  language: system
  pass_filenames: true

pytest:
  name: Run tests
  entry: uvx pytest scripts/tests/ -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: gitleaksのentryをシンプル化
  .pre-commit-config.yaml
Due: none

refactor(pre-commit): gitleaks公式リポジトリに移行
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  scripts/tests/test_plugin_json.py
Due: pytest

fix(hooks): Stop hookの出力を日本語メッセージに変更
  .claude/settings.json
Due: none

fix(pre-commit): ruffバージョンをCIと統一（v0.14.10）
  .pre-commit-config.yaml
  scripts/tests/test_plugin_json.py
Due: pytest

fix(pre-commit): 全ツールのバージョンをCIと統一
  .pre-commit-config.yaml
Due: none

feat: pre-commit導入による品質チェックの統合 (#66)
  .claude/settings.json
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  scripts/tests/test_integration.py
  scripts/tests/test_lsp_json.py
  scripts/tests/test_mcp_json.py
  scripts/validators/base.py
  scripts/validators/lsp_json.py
  scripts/validators/mcp_json.py
Due: pytest

docs(README): 品質保証セクションを追加
  README.md
Due: none

docs(README): レビュー指摘に対応
  README.md
Due: none

docs(README): 品質保証セクションを追加 (#67)
  README.md
Due: none

docs(ai-dlc): current.ymlスキーマの詳細ドキュメント化
  plugins/ai-dlc/docs/session-management.md
Due: validate-plugin

docs(ai-dlc): レビュー指摘対応
  plugins/ai-dlc/docs/session-management.md
Due: validate-plugin

docs(ai-dlc): current.ymlスキーマの詳細ドキュメント化 (#74)
  plugins/ai-dlc/docs/session-management.md
Due: validate-plugin

feat(ai-dlc): ブラウンフィールド対応の既存コード分析機能を追加
  plugins/ai-dlc/commands/construction/domain-model.md
  plugins/ai-dlc/docs/session-management.md
Due: validate-plugin

feat(ai-dlc): エージェント並列実行の自動判断機能を追加
  plugins/ai-dlc/agents/software-engineer.md
  plugins/ai-dlc/commands/construction/code-gen.md
Due: validate-plugin

fix(ai-dlc): ブラウンフィールド判定の条件分岐を具体化
  plugins/ai-dlc/commands/construction/domain-model.md
Due: validate-plugin

feat(ai-dlc): ブラウンフィールド対応の既存コード分析機能を追加 (#75)
  plugins/ai-dlc/commands/construction/domain-model.md
  plugins/ai-dlc/docs/session-management.md
Due: validate-plugin

feat(ai-dlc): エージェント並列実行の自動判断機能を追加 (#76)
  plugins/ai-dlc/agents/software-engineer.md
  plugins/ai-dlc/commands/construction/code-gen.md
Due: validate-plugin

fix(ci): CHANGELOG監視ワークフローのエラーハンドリングを改善
  .github/workflows/changelog-monitor.yml
Due: none

fix(ci): claude-code-actionを使用する方式に統一
  .github/workflows/changelog-monitor.yml
Due: none

fix(ci): claude_argsを1行に修正
  .github/workflows/changelog-monitor.yml
Due: none

fix(ci): claude-code-review.ymlのclaude_argsを1行に統一
  .github/workflows/claude-code-review.yml
Due: none

fix(lint): yamllintの行長制限を200に拡張
  .yamllint.yml
Due: none

fix(ci): claude_argsをマルチライン形式に戻す
  .github/workflows/changelog-monitor.yml
  .github/workflows/claude-code-review.yml
  .yamllint.yml
Due: none

Fix GitHub Actions workflow failure (#81)
  .github/workflows/changelog-monitor.yml
Due: none

fix: claude_argsの複数行引数を1行に修正してコマンド解析エラーを解決
  .github/workflows/changelog-monitor.yml
Due: none

fix: claude-code-review.ymlのpermissionsとclaude_args構文を修正
  .github/workflows/claude-code-review.yml
  .yamllint.yml
Due: none

refactor: 環境変数を使ってclaude_argsを160文字以内に分割
  .github/workflows/changelog-monitor.yml
  .github/workflows/claude-code-review.yml
  .yamllint.yml
Due: none

fix: pull-requests権限をreadに戻す
  .github/workflows/claude-code-review.yml
Due: none

refactor: yamllint disable-lineを使ってシンプルな1行形式に変更
  .github/workflows/changelog-monitor.yml
  .github/workflows/claude-code-review.yml
Due: none

Fix GitHub Actions workflow failure (#83)
  .github/workflows/changelog-monitor.yml
  .github/workflows/claude-code-review.yml
Due: none

feat: claude-code-updateラベルによる自動実装CIを追加
  .github/workflows/auto-implement.yml
  .github/workflows/changelog-monitor.yml
Due: none

fix: PR #85 のコードレビュー指摘事項を修正
  .github/workflows/auto-implement.yml
Due: none

refactor: ハードコードされたファイルリストをディレクトリ指定に変更
  .github/workflows/auto-implement.yml
  .github/workflows/changelog-monitor.yml
Due: none

fix: セキュリティとエラーハンドリングの改善
  .github/workflows/auto-implement.yml
Due: none

feat: claude-code-updateラベルによる自動実装CIを追加 (#85)
  .github/workflows/auto-implement.yml
  .github/workflows/changelog-monitor.yml
Due: none

fix: changelog-monitorワークフローのallowed_tools指定方法を修正
  .github/workflows/changelog-monitor.yml
Due: none

fix: changelog-monitorワークフローのallowed_tools指定方法を修正 (#88)
  .github/workflows/changelog-monitor.yml
Due: none

fix: claude_argsで--allowedToolsフラグを使用するよう修正
  .github/workflows/changelog-monitor.yml
Due: none

fix: claude_argsで--allowedToolsフラグを使用するよう修正 (#89)
  .github/workflows/changelog-monitor.yml
Due: none

fix: auto-implementワークフローのgit push認証エラーを修正
  .github/workflows/auto-implement.yml
Due: none

Path conditions:
  validate-plugin: any of: ^plugins/.*\.(md|json)$
  pytest: any of: ^scripts/.*\.py$
