Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

validate-plugin:
  name: Validate plugin files
  entry: python3 scripts/validate_plugin.py
  language: system
  pass_filenames: true

pytest:
  name: Run tests
  entry: uvx pytest scripts/tests/ -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: frontmatter クォート推奨を実害のあるケースに限定する (#514)
  .claude/rules/skill-authoring.md
Due: none

fix: レビューフィードバック反映（defaultEnabled説明補完・エラーメッセージ統一）
  .claude/rules/marketplace.md
  scripts/validators/marketplace_json.py
Due: pytest

style: defaultEnabledエラーメッセージの不要なfプレフィックスを削除
  scripts/validators/marketplace_json.py
Due: pytest

feat: pr-auto-fix プラグインを v0.2.0 で復活（GitHub PR コメント対応）
  .claude-plugin/marketplace.json
  README.md
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/hooks/hooks.json
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/emit-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix(pr-auto-fix): レビュー指摘4件に対応（自己コメントループ・シェルエスケープ等）
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

docs(pr-auto-fix): GitHub 限定であることを README に明記
  plugins/pr-auto-fix/README.md
Due: validate-plugin

feat: pr-auto-fix プラグインを v0.2.0 で復活（PR コメント自動投稿対応） (#532)
  .claude-plugin/marketplace.json
  README.md
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/hooks/hooks.json
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/emit-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

feat: git-main-sync プラグインを追加
  .claude-plugin/marketplace.json
  plugins/git-main-sync/.claude-plugin/plugin.json
  plugins/git-main-sync/hooks/hooks.json
  plugins/git-main-sync/hooks/sync-main.sh
Due: validate-plugin

fix: PR #533 レビュー対応 (README追加・ロケール非依存化・pure bash化)
  plugins/git-main-sync/README.md
  plugins/git-main-sync/hooks/sync-main.sh
Due: validate-plugin

feat: git-main-sync プラグインを追加（新規セッション開始時に main を最新化） (#533)
  .claude-plugin/marketplace.json
  plugins/git-main-sync/.claude-plugin/plugin.json
  plugins/git-main-sync/README.md
  plugins/git-main-sync/hooks/hooks.json
  plugins/git-main-sync/hooks/sync-main.sh
Due: validate-plugin

fix(pr-auto-fix): デフォルトパスと冗長な experimental.monitors 宣言を削除
  plugins/pr-auto-fix/.claude-plugin/plugin.json
Due: validate-plugin

docs(pr-auto-fix): auto-fix-pr スキル本文の禁止ツール表記を frontmatter と揃える
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix(git-main-sync): SessionStart フック出力に hookEventName を含める
  plugins/git-main-sync/hooks/sync-main.sh
Due: none

docs(hooks): hookSpecificOutput を返すJSON例に hookEventName を追加
  .claude/rules/hooks.md
Due: none

docs(hooks): PreToolUse の additionalContext 例にも hookEventName を追加
  .claude/rules/hooks.md
Due: none

docs(hooks): Stop/SubagentStop 共用例に SubagentStop 用の注意書きを追加
  .claude/rules/hooks.md
Due: none

fix(git-main-sync): SessionStart フック出力に hookEventName を追加 (#540)
  .claude/rules/hooks.md
  plugins/git-main-sync/hooks/sync-main.sh
Due: none

fix: auto-fix-prスキルから effort: low を削除
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix: skillバリデーターのmetadataフィールド不整合を解消
  .claude/rules/skill-authoring.md
  scripts/tests/test_skill.py
  scripts/validators/skill.py
Due: pytest

fix: skill-authoringのfallback注記修正とdisplay-name空テスト拡充
  .claude/rules/skill-authoring.md
  scripts/tests/test_skill.py
Due: pytest

docs: fallbackコメントの誤解を解消（PR #551 レビュー対応）
  .claude/rules/skill-authoring.md
  scripts/validators/skill.py
Due: pytest

test: default-enabledのsnake/camel非boolエラーテストを追加（PR #551 レビュー対応）
  scripts/tests/test_skill.py
Due: pytest

test: base.pyのallow/askグロブ検証のカバレッジを補完（PR #551 CI修正）
  scripts/tests/test_base.py
Due: pytest

style: fallbackコメントの行長超過(E501)を解消（PR #551 Ruff修正）
  scripts/validators/skill.py
Due: pytest

test: base.pyのallow/askグロブ検証のカバレッジを補完（PR #555 CI修正）
  scripts/tests/test_base.py
Due: pytest

refactor: renamesキーの到達不能な型チェックを除去（PR #555 CI修正）
  scripts/validators/marketplace_json.py
Due: pytest

docs: matcher表の「コンマ」を確立表記「カンマ」に統一（PR #553 レビュー対応）
  .claude/rules/hooks.md
Due: none

style: renamesキー検証のadd_errorを1行に整形（PR #555 Ruff format修正）
  scripts/validators/marketplace_json.py
Due: pytest

fix: auto-fix-prスキルのdefault-enabled:falseを除去（PR #564 レビュー対応）
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

[文体ガイド] Slack 返信ルールを追加
  plugins/claude-code-workflow/skills/writing-style/style-guide.md
Due: validate-plugin

[文体ガイド] レビュー指摘対応: Slack 返信ルールの曖昧さ解消と具体例追加
  plugins/claude-code-workflow/skills/writing-style/style-guide.md
Due: validate-plugin

[文体ガイド] writing-style に Slack 返信ルールを追加 (#566)
  plugins/claude-code-workflow/skills/writing-style/style-guide.md
Due: validate-plugin

[ルール整備] 版数注記を撤去し現行仕様のみに統一
  .claude/rules/README.md
  .claude/rules/agents.md
  .claude/rules/channels.md
  .claude/rules/contribution-guide.md
  .claude/rules/hooks.md
  .claude/rules/lsp-servers.md
  .claude/rules/marketplace.md
  .claude/rules/mcp-servers.md
  .claude/rules/monitors.md
  .claude/rules/output-styles.md
  .claude/rules/plugin-manifest.md
  .claude/rules/skill-authoring.md
  .claude/rules/slash-commands.md
  .claude/rules/statusline.md
Due: none

[ルール整備] 公式docs照合で内容誤り・反映漏れを修正（Tier4）
  .claude/rules/hooks.md
  .claude/rules/lsp-servers.md
  .claude/rules/mcp-servers.md
  .claude/rules/monitors.md
  .claude/rules/output-styles.md
  .claude/rules/skill-authoring.md
  .claude/rules/statusline.md
Due: none

[ルール整備] 版数注記を撤去し現行仕様のみに統一 (#567)
  .claude/rules/README.md
  .claude/rules/agents.md
  .claude/rules/channels.md
  .claude/rules/contribution-guide.md
  .claude/rules/hooks.md
  .claude/rules/lsp-servers.md
  .claude/rules/marketplace.md
  .claude/rules/mcp-servers.md
  .claude/rules/monitors.md
  .claude/rules/output-styles.md
  .claude/rules/plugin-manifest.md
  .claude/rules/skill-authoring.md
  .claude/rules/slash-commands.md
  .claude/rules/statusline.md
Due: none

docs: SessionStartフックのsourceフィールドとmatcher有効値を追記
  .claude/rules/hooks.md
Due: none

docs: SessionStartフックのsourceフィールドとmatcher有効値を追記 (#576)
  .claude/rules/hooks.md
Due: none

docs: Notificationフックのmatcher値と入力JSON構造を追記
  .claude/rules/hooks.md
Due: none

docs: レビュー指摘を反映しdecision control言及を削除
  .claude/rules/hooks.md
Due: none

docs: Notificationフックのmatcher値と入力JSON構造を追記 (#577)
  .claude/rules/hooks.md
Due: none

Path conditions:
  validate-plugin: any of: ^plugins/.*\.(md|json)$
  pytest: any of: ^scripts/.*\.py$
