Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

validate-plugin:
  name: Validate plugin files
  entry: python3 scripts/validate_plugin.py
  language: system
  pass_filenames: true

pytest:
  name: Run tests
  entry: uvx pytest scripts/tests/ -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: issues: writeパーミッションを追加してアサイニー設定の403エラーを修正
  .github/workflows/auto-assign.yml
Due: none

fix(workflows): claude-code-review プロンプトを多観点・初回完結・重複防止に改修 (#449)
  .github/workflows/claude-code-review.yml
Due: none

feat: PRオープン時にrfdnxbroを自動アサイン・レビュアー設定するワークフローを追加 (#450)
  .github/workflows/auto-assign.yml
Due: none

fix: CLAUDE_EFFORT の値を公式仕様（low/medium/high/xhigh/max）に修正
  .claude/rules/README.md
  .claude/rules/skill-authoring.md
Due: none

fix: skill/slash-command の effort 値も公式仕様に合わせる
  .claude/rules/skill-authoring.md
  .claude/rules/slash-commands.md
  scripts/tests/test_base.py
  scripts/validators/skill.py
  scripts/validators/slash_command.py
Due: pytest

test: effort 値テストを公式仕様に合わせて訂正
  scripts/tests/test_skill.py
  scripts/tests/test_slash_command.py
Due: pytest

docs: レビュー指摘に対応（テーブル順序・alwaysLoadデフォルト表現）
  .claude/rules/README.md
  .claude/rules/mcp-servers.md
Due: none

fix(workflows): claude-code-review プロンプトを --body-file 投稿に統一
  .github/workflows/claude-code-review.yml
Due: none

fix(workflows): claude-code-review プロンプトを --body-file 投稿に統一 (#454)
  .github/workflows/claude-code-review.yml
Due: none

ci(claude-review): 実行ログを artifact としてアップロード
  .github/workflows/claude-code-review.yml
Due: none

ci(claude-review): 実行ログを artifact としてアップロード (#460)
  .github/workflows/claude-code-review.yml
Due: none

docs: marketplace.md の \$schema 記述に補足注記を追加
  .claude/rules/marketplace.md
Due: none

fix(claude-code-workflow): frontmatter の effort: high を削除
  plugins/claude-code-workflow/skills/multi-agent-orchestration/SKILL.md
  plugins/claude-code-workflow/skills/writing-style/SKILL.md
Due: validate-plugin

fix(workflows): claude-review を stdin heredoc 投稿に変更
  .github/workflows/claude-code-review.yml
Due: none

fix(workflows): claude-review を stdin heredoc 投稿に変更 (#461)
  .github/workflows/claude-code-review.yml
Due: none

docs: marketplace.md の \$schema 記述に補足注記を追加 (#457)
  .claude/rules/marketplace.md
Due: none

feat: pr-auto-fix プラグインを追加
  .claude-plugin/marketplace.json
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/hooks/hooks.json
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/classify-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix(pr-auto-fix): レビュー指摘・自検出バグ・Codex 指摘を反映
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/emit-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix(pr-auto-fix): 2 巡目レビュー指摘 (gh 権限狭小化・パイプ解釈・dead var・コミット日本語化) を反映
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/pr-watcher.sh
Due: validate-plugin

fix(pr-auto-fix): 3 巡目レビュー指摘 (additionalContext→systemMessage / Grep 削除 / sig prefix) を反映
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
Due: validate-plugin

fix(pr-auto-fix): レビュー指摘を最終反映
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix(pr-auto-fix): ベースブランチへの rebase に修正
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/scripts/pr-watcher.sh
Due: validate-plugin

feat: pr-auto-fix プラグインを追加（CI/レビュー/コンフリクトの自動監視＋修正） (#464)
  .claude-plugin/marketplace.json
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/hooks/hooks.json
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/emit-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

pr-auto-fixのuserConfig検証を修正
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: validate-plugin, pytest

review対応: userConfig schemaの整合性を全体に反映
  .claude/rules/channels.md
  .claude/rules/plugin-manifest.md
  plugins/doc-check/.claude-plugin/plugin.json
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: validate-plugin, pytest

docs: userConfig コード例の title と description を分離
  .claude/rules/plugin-manifest.md
Due: none

review対応: title/description の不在と非文字列を別メッセージに
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: pytest

[codex] pr-auto-fixのuserConfig検証を修正 (#465)
  .claude/rules/channels.md
  .claude/rules/plugin-manifest.md
  plugins/doc-check/.claude-plugin/plugin.json
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  scripts/tests/test_plugin_json.py
  scripts/validators/plugin_json.py
Due: validate-plugin, pytest

fix: $schema を公式の JSON Schema URL に修正
  plugins/claude-code-workflow/.claude-plugin/plugin.json
Due: validate-plugin

fix: $schema URLを公式スキーマに修正
  plugins/pr-auto-fix/.claude-plugin/plugin.json
Due: validate-plugin

chore: 残りプラグインへ $schema 追加とリファレンス例の更新
  .claude/rules/plugin-manifest.md
  plugins/doc-check/.claude-plugin/plugin.json
Due: validate-plugin

docs: $schema 推奨URLの出典として公式リファレンスへのリンクを追加
  .claude/rules/plugin-manifest.md
Due: none

chore: doc-check への $schema 追加と plugin-manifest.md 例の更新 (#470)
  .claude/rules/plugin-manifest.md
  plugins/doc-check/.claude-plugin/plugin.json
Due: validate-plugin

docs: README を実態と整合させる更新
  README.md
Due: none

docs: README を実態と整合させる更新 (#472)
  README.md
Due: none

chore: doc-check プラグインを削除
  .claude-plugin/marketplace.json
  README.md
  plugins/doc-check/.claude-plugin/plugin.json
  plugins/doc-check/README.md
  plugins/doc-check/agents/doc-checker.md
  plugins/doc-check/hooks/hooks.json
  plugins/doc-check/hooks/session-summary.sh
Due: validate-plugin

chore: doc-check プラグインを削除 (#495)
  .claude-plugin/marketplace.json
  README.md
  plugins/doc-check/.claude-plugin/plugin.json
  plugins/doc-check/README.md
  plugins/doc-check/agents/doc-checker.md
  plugins/doc-check/hooks/hooks.json
  plugins/doc-check/hooks/session-summary.sh
Due: validate-plugin

chore: pr-auto-fix プラグインを削除
  .claude-plugin/marketplace.json
  README.md
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/hooks/hooks.json
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/emit-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

chore: pr-auto-fix プラグインを削除 (#496)
  .claude-plugin/marketplace.json
  README.md
  plugins/pr-auto-fix/.claude-plugin/plugin.json
  plugins/pr-auto-fix/README.md
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/hooks/detect-pr-create.sh
  plugins/pr-auto-fix/hooks/hooks.json
  plugins/pr-auto-fix/monitors/monitors.json
  plugins/pr-auto-fix/scripts/emit-event.sh
  plugins/pr-auto-fix/scripts/pr-state.sh
  plugins/pr-auto-fix/scripts/pr-watcher.sh
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

docs: frontmatter クォート推奨を実害のあるケースに限定する
  .claude/rules/skill-authoring.md
Due: none

Path conditions:
  validate-plugin: any of: ^plugins/.*\.(md|json)$
  pytest: any of: ^scripts/.*\.py$
