Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

.pre-commit-config.yaml:

# pre-commit設定
# インストール: pre-commit install
# 手動実行: pre-commit run --all-files
# 参考: https://pre-commit.com/

repos:
  # 機密情報検出（brew install gitleaks が必要）
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect secrets with gitleaks
        entry: "bash -c 'command -v gitleaks >/dev/null && gitleaks git --pre-commit --staged --verbose || { echo \"ERROR: gitleaks not installed. Run: brew install gitleaks\"; exit 1; }'"
        language: system
        pass_filenames: false

  # Python lint/format（CIと同じ対象: scripts/）
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/

  # Markdown lint（CIと同じ対象ファイル）
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]
        files: ^(README\.md|CLAUDE\.md|scripts/README\.md|\.claude/rules/.*\.md|\.claude/skills/.*/SKILL\.md)$

  # YAML lint（CIと同じ対象: .github/workflows/）
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yml]
        files: ^\.github/workflows/

  # プラグイン検証（ローカルhook）
  - repo: local
    hooks:
      - id: validate-plugin
        name: Validate plugin files
        entry: python3 scripts/validate_plugin.py
        language: system
        files: ^plugins/.*\.(md|json)$
        pass_filenames: true

      # テスト（staged filesにscripts/配下が含まれる場合のみ実行）
      - id: pytest
        name: Run tests
        entry: uvx pytest scripts/tests/ -v --tb=short
        language: system
        files: ^scripts/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # コミット時はスキップ、push時に実行

docs: README公開プラグイン表とpr-auto-fixのdescription不整合を修正 (#589)
  README.md
  plugins/pr-auto-fix/.claude-plugin/plugin.json
Due: validate-plugin

docs: contribution-guideのdoc/validator同期契約を実態に合わせて明確化 (#590)
  .claude/rules/contribution-guide.md
Due: none

fix: base.py のYAMLフロントマターパーサーが行末コメントを値に混入させる不具合を修正 (#591)
  scripts/tests/test_base.py
  scripts/validators/base.py
Due: pytest

fix: slash_command.py のdangerous-operation誤検知（dropdown等）を修正 (#592)
  .claude/rules/slash-commands.md
  scripts/tests/test_slash_command.py
  scripts/validators/slash_command.py
Due: pytest

feat: .mcp.json/.lsp.json の機密情報検出を実装（README記載機能の実装漏れ修正） (#593)
  scripts/tests/test_lsp_json.py
  scripts/tests/test_mcp_json.py
  scripts/tests/test_secret_detection.py
  scripts/validators/lsp_json.py
  scripts/validators/mcp_json.py
  scripts/validators/secret_detection.py
Due: pytest

fix: 個別ファイルのバリデーター例外がCLI全体を落とさないよう隔離 (#594)
  scripts/tests/test_integration.py
  scripts/validate_plugin.py
Due: pytest

feat: marketplace.json のsourceタイプ別必須フィールド(repo/url/package/path)検証を追加 (#595)
  scripts/tests/test_marketplace_json.py
  scripts/validators/marketplace_json.py
Due: pytest

chore: lint.yml/test-scripts.yml にCIキャッシュを導入 (#596)
  .github/workflows/lint.yml
  .github/workflows/test-scripts.yml
Due: none

fix: hooks_json.py の構造不正クラッシュ修正とSessionStart/Setup http制約の実装 (#597)
  .claude/rules/hooks.md
  scripts/tests/test_hooks_json.py
  scripts/validators/hooks_json.py
Due: pytest

fix: plugin-improvement-check.ymlのトリガーをpull_request:closedに戻す
  .github/workflows/plugin-improvement-check.yml
Due: none

docs: on:へのpush追加を禁止する警告コメントを追加
  .github/workflows/plugin-improvement-check.yml
Due: none

fix: plugin-improvement-check.ymlのトリガーをpull_request:closedに戻す (#600)
  .github/workflows/plugin-improvement-check.yml
Due: none

fix: CHANGELOG監視CIのmax-turns不足と参照切れプロンプトを修正
  .github/workflows/changelog-monitor.yml
Due: none

fix: changelog-monitor.ymlのtimeout-minutesを30に引き上げ
  .github/workflows/changelog-monitor.yml
Due: none

fix: CHANGELOG監視CIのmax-turns不足と参照切れプロンプトを修正 (#612)
  .github/workflows/changelog-monitor.yml
Due: none

fix: レビュー指摘対応（description欠落・内部参照の明確化）
  plugins/claude-code-workflow/skills/multi-agent-orchestration/SKILL.md
Due: validate-plugin

fix: レビュー指摘対応（Monitor専用である旨を明記）
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
Due: validate-plugin

fix: レビュー指摘対応（サブコマンド絞り込みの効果範囲を正確に記述）
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
Due: validate-plugin

fix: Optional指摘対応（スラッシュ区切り表記が実YAMLパターンでない旨を明確化）
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix: レビュー指摘対応（git restoreを--staged付きまで絞り込み）
  plugins/pr-auto-fix/agents/pr-auto-fixer.md
  plugins/pr-auto-fix/skills/auto-fix-pr/SKILL.md
Due: validate-plugin

fix: auto-implement の失敗を可視化する
  .github/workflows/auto-implement.yml
Due: none

fix: pre-commit未通過でもClaudeの実装結果をDraft PRとして残す
  .github/workflows/auto-implement.yml
  .github/workflows/claude-code-review.yml
Due: none

fix: 自動修復できないE501でCIが詰まらないようにする
  .github/workflows/auto-implement.yml
  pyproject.toml
Due: none

fix: pre-commit未通過時にコミットフックでpushが止まるのを防ぐ
  .github/workflows/auto-implement.yml
Due: none

fix: レビュー指摘の修正（pipefail・ready_for_review・失敗ラベル）
  .github/workflows/auto-implement.yml
  .github/workflows/claude-code-review.yml
Due: none

fix: scripts/README.md のコードブロックをruff formatに合わせる
  scripts/README.md
Due: none

fix: Devin Reviewの指摘に対応（秘密検出ゲートの復活・ブランチ案内の修正）
  .github/workflows/auto-implement.yml
Due: none

fix: auto-implement の失敗経路を修正し、成果とエラーを取りこぼさないようにする (#623)
  .github/workflows/auto-implement.yml
  .github/workflows/claude-code-review.yml
  pyproject.toml
  scripts/README.md
Due: none

ci: 権限拒否の内訳を実行ログにも出力し、ruffのバージョンを固定する
  .github/workflows/auto-implement.yml
  .github/workflows/lint.yml
Due: none

docs: SessionStartフックのsourceに fork を追加
  .claude/rules/hooks.md
Due: none

docs: SessionStartフックのsourceに fork を追加 (#626)
  .claude/rules/hooks.md
Due: none

ci: 権限拒否の内訳を実行ログにも出力し、ruffのバージョンを固定する (#625)
  .github/workflows/auto-implement.yml
  .github/workflows/lint.yml
Due: none

ci: 権限拒否の理由を内訳に含める
  .github/workflows/auto-implement.yml
Due: none

fix: jq式を160桁以内に折り返してyamllintを通す
  .github/workflows/auto-implement.yml
Due: none

fix: Issue #620 の自動実装の欠落を補う
  .claude/rules/skill-authoring.md
  scripts/tests/test_base.py
  scripts/tests/test_plugin_json.py
  scripts/tests/test_skill.py
Due: pytest

fix: ブール値の緩和をYAMLフロントマターに限定する（Devin Review指摘）
  .claude/rules/skill-authoring.md
  scripts/tests/test_plugin_json.py
  scripts/validators/base.py
  scripts/validators/plugin_json.py
Due: pytest

fix: 拒否理由は種別と構造のみ出力する（Devin Review指摘）
  .github/workflows/auto-implement.yml
Due: none

ci: 権限拒否の理由を内訳に含める (#630)
  .github/workflows/auto-implement.yml
Due: none

ci: 自動実装の再実行手段と変更検出・変更なし判断の可視化を改善する
  .github/workflows/auto-implement.yml
Due: none

ci: PR作成前にテストを実行し、未通過ならDraft PRにする
  .github/workflows/auto-implement.yml
Due: none
