Repository rfdnxbro/claude-code-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin, pytest

.pre-commit-config.yaml:

# pre-commit設定
# インストール: pre-commit install
# 手動実行: pre-commit run --all-files
# 参考: https://pre-commit.com/

repos:
  # 機密情報検出（brew install gitleaks が必要）
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect secrets with gitleaks
        entry: "bash -c 'command -v gitleaks >/dev/null && gitleaks git --pre-commit --staged --verbose || { echo \"ERROR: gitleaks not installed. Run: brew install gitleaks\"; exit 1; }'"
        language: system
        pass_filenames: false

  # Python lint/format（CIと同じ対象: scripts/）
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/

  # Markdown lint（CIと同じ対象ファイル）
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]
        files: ^(README\.md|CLAUDE\.md|scripts/README\.md|\.claude/rules/.*\.md|\.claude/skills/.*/SKILL\.md)$

  # YAML lint（CIと同じ対象: .github/workflows/）
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yml]
        files: ^\.github/workflows/

  # プラグイン検証（ローカルhook）
  - repo: local
    hooks:
      - id: validate-plugin
        name: Validate plugin files
        entry: python3 scripts/validate_plugin.py
        language: system
        files: ^plugins/.*\.(md|json)$
        pass_filenames: true

      # テスト（staged filesにscripts/配下が含まれる場合のみ実行）
      - id: pytest
        name: Run tests
        entry: uvx pytest scripts/tests/ -v --tb=short
        language: system
        files: ^scripts/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # コミット時はスキップ、push時に実行

レビュー指摘の任意改善3点を対応
  .claude/rules/README.md
  .claude/rules/hooks.md
Due: none

refactor: バリデーター間の重複コードを共通ヘルパーに抽出
  scripts/tests/test_base.py
  scripts/validators/agent.py
  scripts/validators/base.py
  scripts/validators/output_style.py
  scripts/validators/skill.py
  scripts/validators/slash_command.py
Due: pytest

refactor: バリデータの重複パターンをbase.pyの共通ヘルパーに抽出
  scripts/tests/test_base.py
  scripts/validate_plugin.py
  scripts/validators/agent.py
  scripts/validators/base.py
  scripts/validators/output_style.py
  scripts/validators/skill.py
  scripts/validators/slash_command.py
Due: pytest

refactor: バリデーター間の重複コードを共通ヘルパーに抽出 (#367)
  scripts/tests/test_base.py
  scripts/validators/agent.py
  scripts/validators/base.py
  scripts/validators/output_style.py
  scripts/validators/skill.py
  scripts/validators/slash_command.py
Due: pytest

refactor: 正規表現のプリコンパイルと定数のモジュールレベル抽出
  scripts/validators/agent.py
  scripts/validators/base.py
  scripts/validators/hooks_json.py
  scripts/validators/marketplace_json.py
  scripts/validators/plugin_json.py
  scripts/validators/readme.py
  scripts/validators/skill.py
Due: pytest

fix: PermissionDeniedフックのレビュー指摘対応
  .claude/rules/hooks.md
  scripts/validators/hooks_json.py
Due: pytest

fix: prompt型フックの出力スキーマを実装に合わせて修正
  .claude/rules/hooks.md
Due: none

fix: PR #375 レビュー指摘事項の修正
  .takt/.gitignore
  scripts/tests/test_hooks_json.py
Due: pytest

fix: ランタイムバグ修正の記述を削除（追跡方針に基づく）
  .claude/rules/hooks.md
Due: none

fix: plugin-improvement-checkがsquash mergeで動作しない問題を修正
  .github/workflows/plugin-improvement-check.yml
  .plugin-check-sha
Due: none

fix: レビュー指摘事項の修正
  .github/workflows/plugin-improvement-check.yml
Due: none

fix: チェックポイント更新条件にプラグイン存在チェックを追加
  .github/workflows/plugin-improvement-check.yml
Due: none

fix: plugin-improvement-checkがsquash mergeで動作しない問題を修正 (#383)
  .github/workflows/plugin-improvement-check.yml
  .plugin-check-sha
Due: none

fix: hooks.jsonのpromptをuserConfig.docPatternsと整合させる
  plugins/doc-check/hooks/hooks.json
Due: validate-plugin

fix: gh api --jq --argの無効な構文をパイプ経由のjqに修正
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

fix: software-architectとproduct-managerのpromptに$ARGUMENTS参照を追加
  plugins/ai-dlc/hooks/hooks.json
Due: validate-plugin

fix: jq出力形式をJSON配列に統一
  plugins/pr-review-loop/commands/resolve-reviews.md
Due: validate-plugin

fix: userConfig値の参照を環境変数経由に変更し、パターン説明を具体化
  plugins/doc-check/agents/doc-checker.md
  plugins/doc-check/hooks/hooks.json
Due: validate-plugin

fix: maxTurnsを8に増加し、skipPatternsの除外ロジックを具体化
  plugins/doc-check/agents/doc-checker.md
Due: validate-plugin

fix: skipPatternsに**/プレフィックス自動付与の指示を追加
  plugins/doc-check/agents/doc-checker.md
Due: validate-plugin

fix: claude-code-actionがpushイベント非対応のためトリガーをpull_requestに戻す
  .github/workflows/plugin-improvement-check.yml
Due: none

fix: checkoutにref: mainを追加（synthetic merge ref問題の修正）
  .github/workflows/plugin-improvement-check.yml
Due: none

fix: claude-code-actionがpushイベント非対応のためトリガーをpull_requestに戻す (#392)
  .github/workflows/plugin-improvement-check.yml
Due: none

fix: setup.shとSKILL.mdのハードコードされたdocs/パスをarticlesDir設定に統一
  plugins/bbl/hooks/setup.sh
  plugins/bbl/skills/content-guide/SKILL.md
Due: validate-plugin

fix: ai-dlcプラグインのAWS固定記述をマルチクラウド対応に修正
  plugins/ai-dlc/agents/cloud-architect.md
  plugins/ai-dlc/commands/construction/architecture.md
  plugins/ai-dlc/hooks/hooks.json
Due: validate-plugin

fix: brainstorm.mdのシェル変数展開構文を環境変数に修正
  plugins/bbl/commands/brainstorm.md
Due: validate-plugin

feat: pr-review-loopのREADMEにuserConfig設定例を追加 (#396)
  plugins/pr-review-loop/README.md
Due: validate-plugin

fix: preferredRegionのdead code解消、setup-check.shの大文字小文字対応、CDKオプション化
  plugins/ai-dlc/.claude-plugin/plugin.json
  plugins/ai-dlc/scripts/setup-check.sh
Due: validate-plugin

fix: cloud-architect.mdのCLOUD_PROVIDERケース正規化をsetup-check.shと統一
  plugins/ai-dlc/agents/cloud-architect.md
Due: validate-plugin

fix: 追跡方針に基づきランタイムバグ修正の注記を削除
  .claude/rules/hooks.md
  .claude/rules/plugin-manifest.md
  .claude/rules/skill-authoring.md
Due: none

fix: permissionDecision注記からバグ経緯の記述を削除
  .claude/rules/hooks.md
Due: none

feat: 追跡方針をrulesに分離し、Issue作成時のトリアージを義務化
  .claude/rules/README.md
  .claude/rules/contribution-guide.md
  .github/workflows/changelog-monitor.yml
  CLAUDE.md
Due: none

fix: session-summary.shをSessionEnd/StopFailure対応に修正
  plugins/doc-check/hooks/session-summary.sh
Due: none

fix: task-completion.shでhook_event_nameを動的に取得してログメッセージを分岐
  plugins/ai-dlc/scripts/task-completion.sh
Due: none

fix: hook_event_nameのデフォルト値をPascalCaseに統一
  plugins/doc-check/hooks/session-summary.sh
Due: none

fix: task-completion.shのログにtask_subjectを追加
  plugins/ai-dlc/scripts/task-completion.sh
Due: none

fix: task_subjectの空値フォールバックを(不明)に変更
  plugins/ai-dlc/scripts/task-completion.sh
Due: none

fix: SessionEndイベント時にもログを記録するよう修正
  plugins/pr-review-loop/hooks/review-summary.sh
Due: none

fix: PreToolUseフックのifフィールドを単一パターン構文に修正
  plugins/bbl/hooks/hooks.json
Due: validate-plugin

refactor: 未使用のsession-log.shを削除
  plugins/pr-review-loop/hooks/session-log.sh
Due: none
